* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0px;
    margin: 0px;
}
#header-nav{
    background-color:grey;
    color: black;
    border: 2px solid black;
    margin: 2px;
    font-style: bold;
}
#nav-list a {
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid black;
}
#nav-list a:hover {
    background: #e7e7e7;
}
.navbar-header button.nabar-toggle, .navbar-header .icon-bar {
    border: 1px solid maroon;
}
.navbar-header button.nabar-toggle {
    clear:both;
    margin-top: 30px;
}
#box {
    margin-bottom: 10px;
    background-color: grey;
    margin-right: auto;
    margin-left: auto;
    color: black;
    font-family: Helvetica;
    border: 1px solid black;
    width: 90%;
}

h1 { font-family: 'Lora', serif;
        color: rgb(10, 0, 0);
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 1px 1px 1px #222;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
}
h2{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    text-align: center;
    font-size: xxx-large;
}
.content {
    border: 1px solid black;
    margin: 15px 5px 5px 5px;
   background-color: gray;
   height: 700px;
  position: relative;

}